@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  min-height: 100vh;
  background-color: #f1f17f;
}

main {
  display: inline-block;
  margin-top: 2%;
  position: relative;
  font-family: "Press Start 2P", cursive;
}

.pokedex {
  width: 100%;
  max-width: 800px;
}

.poke-bckg {
  position: absolute;
  left: 31.8%;
  bottom: 58.5%;
  width: 35.1%;
  height: 34.65%;
  border-radius: 5.5px;
}

.pokemon-img {
  position: absolute;
  bottom: 63%;
  left: 43%;
  transform: translate(-13%, 5%);
  height: 20%;
}

.pokemon-data {
  position: absolute;
  font-weight: 600;
  color: #808080;
  top: 63%;
  left: 36%;
  font-size: clamp(6px, 1.75vw, 13px);
}

.pokemon-name {
  color: #4682b4;
  text-transform: capitalize;
}
